* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #4a154b;
}

.navbar-content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: auto;
  padding: 11px 36px;
}
.navbar-primary {
  display: flex;
  padding: 10px;
  height: 30px;
  width: auto;
  gap: 60px;
}
.talk-to-sales-btn{
  display: none;
}
.create-new-workspace-btn{
    display: none;
  }
.navbar-text{
  display: none;
}
.fa-search {
  color: white;
}

.fa-bars {
  color: white;
}

.slacklogo {
  display: flex;
  height: 6vh;
  min-height: 40px;
  width: auto;
  padding: 4px 0px 0px;
}

footer {
  display: none;
  
}

.section-one {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a154b;
  height: 600px;
  margin-bottom: 150px;
}

.header-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

h1 {
  display: flex;
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
}

.header-paragraph {
  background-color: rgb(228, 207, 243);
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 20px;
  height: 80px;
  font-size: 18px;
  border-radius: 12px 12px 0 0;
}
.flex-column {
  display: flex;
  padding: 10px;
  padding-top: 15px;
  background-color: white;
  justify-content: center;
}

.flex-column-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.chas-academy-logo {
  width: 75px;
  height: 75px;
  align-self: center;
  margin-right: 15px;
}

.flex-row {
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: white;
}

.chas-academy-pg {
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.members-img {
  width: 100px;
  height: 20px;
  object-fit: cover;
}

.members-img-text {
  display: flex;
  background-color: white;
  margin-top: 10px;
}

.members-paragraph {
  color: #696969;
  margin-left: 12px;
  background-color: white;
}

.launch-slack-button {
  background-color: #4a154b;
  border: none;
  font-weight: bold;
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 470px;
  align-self: center;
  cursor: pointer;
}

.launch-slack-button:hover {
  background-color: #340f35;
  transition: 0.3s;
}

.see-more-paragraph {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  color: rgb(0, 106, 255);
}

.see-more-a {
  text-decoration: none;
  color: rgb(0, 106, 255);
} 

.box-two {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 230px;
}

.box-two-paragraph {
  box-sizing: border-box;
  padding: 15px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.create-new-workspace-button {
  width: 470px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #4a154b;
  align-self: center;
  border-radius: 5px;
  border: 2px solid #4b154c;
  cursor: pointer;
  background-color: white;
}

.create-new-workspace-button:hover {
  border: solid 3px #4a154b;
  transition: 0.1s;
}

.workspace-image {
  width: 200px;
  object-fit: cover;
  margin-top: auto;
  position: relative;
  bottom: -30px;
}

.section-one-end {
  margin-top:50px;
}

.try-using-a-different-server {
  color: rgb(0, 140, 255);
}

@media (min-width: 1000px) {

  .navbar-content-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: auto;
  max-width: 1700px;
  padding: 11px 36px;
  margin: 0 auto;
}
.navbar-primary {
  display: flex;
  padding: 10px;
  height: 30px;
  width: auto;
  gap: 60px;
}

.navbar-text{
  color:white;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 1.8vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  
}
.talk-to-sales-btn{
  display:block;
  height: 3vh;
  width: 90px;
  border: 1px solid white;
  background-color: #4a154b;
  color:white;
  font-size: 1.2vh;
  border-radius: 5px;
  font-family: 'Arial';
  font-weight: 600;
  
}
.create-new-workspace-btn{
  display: block;
  height: 3vh;
  width: 20vh;
    background-color: white;
    color: #4a154b;
    font-weight: 600;
    font-size: 1.2vh;
    margin-left: -50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

  }
.search {
  color: white;
}

.bars {
  display:none;
}

.slacklogo {
  display: flex;
  height: 6vh;
  min-height: 40px;
  width: auto;
  padding: 4px 0px 0px;
}
  
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4a154b;
    border-top: 1px solid grey;
    margin: auto;
    height: auto;
  }

  .footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .create-new-workspace-btn{

  }
  .slackicon {
    display: flex;
    height: 5vh;
    min-height: 40px;
    width: auto;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
  }
  .footer-paragraph {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
  }

  .launch-stack-button-div {
    display: flex;
    flex-direction: row;
  }

  .header-box {
    width: 1000px;
  }
  
  .flex-column-button {
    display: flex;
    flex-direction: row;
    gap: 400px;
  }

}